body{
    background-image: url('../ciudad.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;  
  }
  
  /*Visualización en computadora*/
  .desplegable{
    background: #1e1e1e;
  }
  .barras{
    display: none;
  }
  ul{
    padding: 0;
    margin: 0;
    display: flex;
  }
  li{
    list-style: none;
  }
  nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
    display: block;
    flex-direction: row;
  }
  ul li a:hover{
    background: #ff5722;
  }
  /*Visualización en Table*/
  @media(max-width: 850px){
    .barras{
      background: #1e1e1e;
      display: block;
    }
    .desplegable{
      transform: translate(-100%);
      transition: 0.5s;
      font-size: 1.5rem;
      width: 50%;
      background: rgba(red, green, blue, alpha);
    }
    ul{
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    button{
      margin: 10px;
      border: none;
    }
    li a{
      padding: 20px;
      display: block;
      text-align: left;
    }
    .boton_menu{
      background-image: url('../menu.png');
      background-color: #1e1e1e;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      background-size: 30px;
      background-position: center;
    }
    /*Con está clase abro y cierro menú*/
    .abrir_menu{
      transform: translate(0%);
      transition: 0.5s;
      width: 50%;
      background: rgba(30, 30, 30, 0.6);
      backdrop-filter: blur(2px);
    }
    /*Con este comentario cambio las barras por una x*/
    .colocar_x{
      background-image: url('../menu_cerrar.png');
      background-color: #1e1e1e;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      background-size: 30px;
      background-position: center;
    }
  }
  /*Para celular*/
  @media(max-width: 500px){
    .desplegable{
      width: 100%;
      font-size: 1.6rem;
    }
  }